.btn {
    background: none;
    border: none;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.btn--login{
    color: $blue;
    transition: text-decoration .2s ease-in;
    &:hover {
        text-decoration: underline;
    }
}

.btn--navigation {
    color: $dark-blue;
    margin-left: 0;
    transition: text-decoration 2s ease-out;
    &:hover{
        text-decoration: underline;
    }
}